<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
  <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.shiny.job</string>
      <string>com.shiny.jobpower</string>
      <string>com.shiny.jobnet</string>
      <string>com.shiny.jobpowernet</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>processing</string>
      <string>fetch</string>
    </array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Adaptive Alarm</string>
	<key>CFBundleIdentifier</key>
	<string>Capstone.2022.AdaptiveAlarm</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Adaptive Alarm</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>telephony</string>
		<string>healthkit</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>Adaptive Alarm reads your sleep stage data in order to set alarms for when you will wake up feeling the most rested.</string>

</dict>
</plist>
